.sitetitle{
  color:#4d5156;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100rem;
  gap: 2rem;
  margin: 2rem;
}

.maincontents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.8rem;
}

.sidebar {
  width:22rem;
  min-width: 18rem;
  overflow-wrap: break-word;
  margin-left: 1.5rem;
  padding: auto;
}

.bio {
  background-color: #fff;
  border-radius: 1.4rem;;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.global {
  background-color: #fff;
  border-radius: 1.4rem;
  flex: 2 1;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-left:4rem
}



.sideBarImage {
  border-radius: 500rem;
  border: solid 1px #777777;
  width: 5rem;
  transition: 0.3s;
  overflow:hidden;
}

.sideBarImage:hover {
  transform:scale(1.1,1.1);
  transition:1s all;
}

.icon {
  margin: 0 auto;
}

.sidebarMessage {
  font-size: 0.95rem;
  margin-top: 1rem;
  color:#4d5156;
}



@media  only screen and (max-width: 479px) {
  .global {
    width: 1rem;
    margin-left:0;

  }

  .grid{
    margin:1.2rem;
    gap:1rem;
  }

  .bio {
    display:none;
  }
  .sidebar{
    display: none;
  }

  .moreButton{
    font-size: 0.8rem;
  }
}
