.sitetitle{
  color:#4d5156;
  margin-left:1rem;
}
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100rem;
  margin:0 2rem 2rem 2rem ;
}

.maincontents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0.8rem;
}

.sidebar {
  width:20rem;
  margin-left: 1.5rem;
  margin-right:4rem;
}

.bio {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.global {
  background-color: #fff;
  flex: 2 1;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-left:4rem
}



.sideBarImage {
  border-radius: 500rem;
  border: solid 1px #777777;
  width: 5rem;
  transition: 0.3s;
  overflow:hidden;
}

.sideBarImage:hover {
  transform:scale(1.05,1.05);
  transition:0.3s;
}

.icon {
  margin: 0 auto;
}

.sidebarMessage {
  font-size: 0.95rem;
  margin-top: 1rem;
  color:#4d5156;
  text-align:left;
}

.moreButton{
  text-align:right;
  margin:0 1rem 1rem 0;
}

.moreButton:after{
  font-family: "Font Awesome 5 Free";
  content: '\f101';
  font-weight: 900;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  padding-right: 0.3rem;
}

@media  only screen and (max-width: 600px) {
  .global {
    margin-left:0;
    margin-right:0.1rem;
  }

  .grid{
    margin:1.2rem;
    gap:1rem;
  }

  .bio {
    margin-top:1rem;
  }
  .sidebar{
    margin-left: 0rem;
    margin-right:0.1rem;
  }

  .moreButton{
    font-size: 0.8rem;
  }
}
