.global {
  background-color: #fff;
  flex: 2 1;
  max-width: 100%;
  overflow-wrap: break-word;
  margin-left:4rem;
  @media  only screen and (max-width: 479px){
    margin-left:0rem;
  }
}


.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100rem;
  margin:0 2rem 2rem 2rem ;
  @media  only screen and (max-width: 479px){
    margin:1.2rem;
    gap:1rem;
  }
}

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .headingXl {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 550;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 0;
    font-weight: 500;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }
  
  .borderCircle {
    border-radius: 1000px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
    text-align:left
  }

  .contentText {
    color: #000000;
    text-align:left
  }
  
  .boldText {
    font-weight: 550;
    font-size: 2rem;
  }
.pageTitleBox{
  position: relative;
  text-align:left;
  align-items: center;
  margin:1.2rem;
  display: flex;

}
.pageTitle {
  margin:0.7rem;
  font-size: 2.3rem; /* 文字サイズ */
  font-weight: 0;
  @media  only screen and (max-width: 479px){
    font-size: 1.3rem; /* 文字サイズ */
  }
}

.pageTitleBox::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* 文字の下に線を引く */
  width: 100%;
  height: 2px; /* 線の太さ */
  background: linear-gradient(to right, #092252 0%, #092252 40%, #d3d3d3 40%, #d3d3d3 100%);
}

.subPgaeTitle{
  font-size: 1.3rem;
  font-style: italic;
  margin-left: 1rem;
  color: gray;
  @media  only screen and (max-width: 479px){
    font-size: 0.8rem; /* 文字サイズ */
  }
}


  @media  only screen and (max-width: 479px) {
    .lightText {
      color: #999;
      text-align:left;
      font-size: rem;
      font-size: 1rem;

      
    }
  
    .contentText {
      color: #000000;
      text-align:left;
      font-size: 1rem;
    }
    
    .boldText {
      color: rgb(88, 128, 229);
      font-weight: 550;
      font-size: 1rem;
    }

    .headingXl {
      font-size: 1rem;
      line-height: 1.3;
      font-weight: 550;
      letter-spacing: -0.05rem;
      margin: 1rem 0;
    }
  }
  

